.grid {
    width: fit-content;
    border: 1px solid black;
    margin-right: 8px;
}

.house {
    width: 10px;
    height: 10px;
    margin: 2px;
    border: 1px solid #c0c0c0;
    background-color: #f8f8f8;
}

.house.unemployed {
    background-color: #4682b4;
    opacity: 0.4;
}

.house.salesman {
    background-color: #003366;
}

.row {
    display: flex;
}
